/*============    ШРИФТЫ    ===========*/
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.eot');
    src: url('fonts/RobotoBold.eot') format('embedded-opentype'),
         url('fonts/RobotoBold.woff2') format('woff2'),
         url('fonts/RobotoBold.woff') format('woff'),
         url('fonts/RobotoBold.ttf') format('truetype'),
         url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/RobotoLight.eot');
    src: url('fonts/RobotoLight.eot') format('embedded-opentype'),
         url('fonts/RobotoLight.woff2') format('woff2'),
         url('fonts/RobotoLight.woff') format('woff'),
         url('fonts/RobotoLight.ttf') format('truetype'),
         url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('fonts/RobotoMedium.eot');
    src: url('fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('fonts/RobotoMedium.woff2') format('woff2'),
         url('fonts/RobotoMedium.woff') format('woff'),
         url('fonts/RobotoMedium.ttf') format('truetype'),
         url('fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
/*================ Убираем прокрутку внизу  ===========*/
html,body{
	overflow-x: hidden;
}
/*================ Базовые настройки   ===========*/
a:hover
a:focus
a:visited
a:active{
	text-decoration: none;
}
.section_header h2{
	text-transform: uppercase;
	color: #666666;
	font-family: 'RobotoBold';
}
button:focus{
	outline: none;
}
/*============    Шапка   ===========*/
header {
	padding-top: 20px;
	padding-bottom: 20px;
	/*Для фиксации nav*/
	height: 110px;
}
.descript h4{
 		font-family: 'RobotoMedium';
 		text-transform: uppercase;
 		color: #666666;
}
.descript h5{
 		font-family: 'RobotoLight';
 		font-size: 15px;
 		color: #666666;
}
.phone_number{
	text-align: right;
}
.phone_number a{
	font-family: 'RobotoMediu';
	color: #666666;
}
.phone_number a:hover{
	text-decoration: none;
}
.phone_number h3{
	margin-top: 7px;
}
.phone_number a:before{
	content: '';
	width: 20px;
	height: 20px;
	background: url(../img/phone_icon.png) no-repeat center center;
	display: inline-block;
	margin-right: 5px;
}
.phone_number p{
	font-family: 'RobotoLight';
}

/*============    Навигация    ===========*/
nav {
	background-color: #fff;
	/*Для фиксации nav*/
	top: 110; /*высота шапки в пикселях*/
   	position: fixed;
    z-index: 100;
    width: 100%;
}
ul.list-inline{
	margin-bottom: 0;
}
ul.list-inline a{
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 10px;
	color: #666666;
	font-family: 'RobotoLight';
		-moz-transition: all 0.2s 0.02s ease;
	 	-o-transition: all 0.2s 0.02s ease;
	 	-webkit-transition: all 0.2s 0.02s ease;
}

ul.list-inline a:hover{
	text-decoration: none;
	background-color: #000;
	color: #fff;
}


/*============    Главный экран   ===========*/
section#main{
	background: url(../img/main_bg_1920.jpg) no-repeat center center;
	background-size: cover;
}
.main_header h1{
	margin-top: 100px;
	font-family: 'RobotoBold';
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 90px;
}
.main_header span{
	background-color: #000;
	
	
}
.main_second h3{
	text-transform: uppercase;
	font-family: 'RobotoBold';
	color: #000;
}
#sspam{
	color: #fff;
}
.main_buttons{
	margin-top:7px;
	margin-bottom: 100px;
}
.main_buttons button#tell_phone{
	border: none;
	background: #696969;
	padding: 20px 35px;
	color: #fff;
	font-family: 'RobotoBold';
	font-size: 20px;
	text-transform: uppercase;
}
.main_buttons button#tell_phone:hover{
	background-color: #000000;

}
.main_buttons button#get_types{
	border:none;
	background-color: transparent;
	padding: 18px 33px;
	font-family: 'RobotoBold';
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	border: 2px solid #000000;
	margin-left: 20px;
}
.main_buttons button#get_types:hover{
	background-color: #F5F5F5;
}
/*============    Марки машин    ===========*/
section#types{
	padding-top: 50px;
	color: #666666;
}
.section_header{
	margin-bottom: 50px;
}
.section_header h4{
	text-transform: uppercase;
	font-family: 'RobotoMedium';
	margin-top: 25px;
}
button.more_btn{
	border:none;
	color: #000;
	border: 2px solid;
	padding: 10px 20px;
	background-color: transparent;
	text-transform: uppercase;
	font-family: 'RobotoBold';
		-moz-transition: all 0.2s 0.02s ease;
	 	-o-transition: all 0.2s 0.02s ease;
	 	-webkit-transition: all 0.2s 0.02s ease;
}
button.more_btn:hover{
	background-color: #C0C0C0;
}
button.offer_btn{
	border:none;
	color: #000;
	border: 2px solid;
	padding: 10px 20px;
	background-color: #C0C0C0;
	text-transform: uppercase;
	font-family: 'RobotoBold';
		-moz-transition: all 0.2s 0.02s ease;
	 	-o-transition: all 0.2s 0.02s ease;
	 	-webkit-transition: all 0.2s 0.02s ease;
}
button.offer_btn:hover{
	background-color: transparent;
}
.card:hover{
	border:2px solid #000;
	/*==background-color: #D3D3D3;==*/
}
.card{
	border:2px solid transparent;
	padding: 5px;
}
/*============    Бесплатная консультация    ===========*/

section#help{
	padding-top: 65px;
}
section#help h3{
	color: #000;
	text-transform: uppercase;
	font-family: 'RobotoBold';
}
section#help p{
	color: #696969;
	font-family: 'RobotoLight';
	font-size: 18px;
}
section#help img{
	margin-top: 30px;
	width: 170px;
    height: 170px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    
}
button#free_consult{
	border:none;
	background-color: transparent;
	color:#000; 
	border: 2px solid #000;
	padding: 15px 35px;
	font-family: 'RobotoBold';
	text-transform: uppercase;
}
button#free_consult:hover{
	background-color: #2F4F4F;
	color:#fff;
}
/*============   Акция   ===========*/
section#offer{
	padding-top: 70px;
}
section#offer h4{
	text-transform: uppercase;
	color: #000;
	font-family: 'RobotoBold';
}
section#offer h3{
	text-transform: uppercase;
	color: #000;
	font-family: 'RobotoBold';
}
section#offer p{
	font-family: 'RobotoLight';
	font-size: 22px;
	color: #696969;
}
section#offer input[name="name"]{
	background: url(../img/name_input.png) no-repeat center left 3px;
	padding: 25px;
	border-radius: 0;
	padding-left: 30px;
	border: solid 1px #cccccc;
	font-family: 'RobotoLight';
	opacity: 1;
}
section#offer input[name="name"]:hover{
	opacity: 0.8;
}
section#offer input[name="phone"]{
	background: url(../img/phone_input.png) no-repeat center left 3px;
	padding: 25px;
	border-radius: 0;
	padding-left: 30px;
	border: solid 1px #cccccc;
	font-family: 'RobotoLight';
	opacity: 1;
}
section#offer input[name="phone"]:hover{
	opacity: 0.8;
}
section#offer button[type="submit"]{
	border:none;
	background-color: transparent;
	color:#000; 
	border: 2px solid #000;
	padding: 15px 20px;
	font-family: 'RobotoBold';
	text-transform: uppercase;

}


section#offer button[type="submit"]:hover{
	background-color: #8B0000;
	color:#fff;
}
/*============   Отзывы   ===========*/
section#feedback{
 padding-bottom: 50px;
}
.section_header{
	margin-bottom: 50px;
}
.item{
	background-color: #f8f8f8;
	padding: 20px;
	height: 350px;
}
section#feedback h5 {
	font-family: 'RobotoMedium';
	color:#666666;
	font-size: 20px;
	margin-top: 25px;
}
section#feedback a{
	font-family: 'RobotoMedium';
	font-size: 16px;
}
section#feedback p{
	margin-top: 30px;
	font-family: 'RobotoLight';
	font-size: 16px;
}
/*==Меняем***==*/
.carousel-indicators{
	bottom: -50px;
}
.carousel-indicators 
.active{
	background-color: #000;
}
.carousel-indicators li{
	border:solid 1px #000;
}
/*============    Подвал   ===========*/
footer{
	padding-top: 50px;
	padding-bottom: 10px;
	background-color: #666666;
	color: #fff;
}
footer h2{
	font-family: 'RobotoBold';
	text-transform: uppercase;
	margin-left: -15px;
}
address{
	margin-top: 10px;
}
p#address{
	font-family: 'RobotoLight';
	text-transform: uppercase;
	margin-bottom: 0;
}
p#address:before{
	content: '';
	width: 16px;
	height: 16px;
	background: url(../img/location.png) no-repeat center center;
	display: inline-block;
	margin-right: 5px;
	vertical-align: -3px;
}
p#phone_footer{
	text-transform: uppercase;
	font-family: 'RobotoLight';
}
p#phone_footer:before{
	content: '';
	width: 16px;
	height: 16px;
	background: url(../img/phone_footer.png) no-repeat center center;
	display: inline-block;
	margin-right: 5px;
	vertical-align: -3px;
}
p#ukr{
	font-size: 20px;
	font-family: 'RobotoLight';
	margin-top: 0;
}
p#number{
	font-size: 20px;
	font-family: 'RobotoLight';
	margin-top: 0;
}
.social{
	margin-top: 15px;
	margin-right: 5px;
}
button#get_answer{
	margin-left: 10px;
	background-color: transparent;
	padding: 10px 35px;
	color: #fff;
	border: solid 2px #fff;
	font-family: 'RobotoBold';
	text-transform: uppercase;
}
button#get_answer:hover{
	background-color: #000;

}
.details_row{
	margin-top: 30px;
}
.details h5{
	font-family: 'RobotoMedium';
	font-size: 20px;
}
.details p{
	text-transform: uppercase;
	font-family: 'RobotoLight';
}
.policy{
	text-align: center;
}
.policy a{
	color: #fff;
	border-bottom: 2px  #fff;
}
.bondar{
	text-align: right;
}
.bondar h4{
	font-family: 'RobotoBold';
	text-transform: uppercase;
}
.bondar a{
	color: #000;
	border-bottom: 2px  #fff;
	font-family: 'RobotoBold';
}
/*============    Всплывающие окна    ===========*/
.modal-dialog{
	margin-top: 20%;
}
.header_modal{
	text-transform: uppercase;
	color: #666666;
	font-family: 'RobotoBold';
}
.modal-header{
	border-bottom: none;
	margin-top: -50px;
}
.close{
	text-shadow: none;
	color: #fff;
	opacity: 0.9;
	margin-right: -38px;
}
.modal-content{
	border-radius: 0;
}
p span{
	color: red;
	text-transform: uppercase;
	font-family: 'RobotoBold'
}
.modal-content input[name="name"]{
	margin-top: 15px;
	margin-bottom: 5px;
	background: url(../img/name_input.png) no-repeat center left 3px;
	padding: 25px;
	border-radius: 0;
	padding-left: 30px;
	border: solid 1px #cccccc;
	font-family: 'RobotoLight';
	opacity: 1;

}
.modal-content input[name="name"]:hover{
	opacity: 0.8;
}
.modal-content input[name="phone"]{
	background: url(../img/phone_input.png) no-repeat center left 3px;
	padding: 25px;
	border-radius: 0;
	padding-left: 30px;
	border: solid 1px #cccccc;
	font-family: 'RobotoLight';
	opacity: 1;
	margin-top: 15px;
}
.modal-content input[name="phone"]:hover{
	opacity: 0.8;
}
.modal-content button[type="submit"]{
	border:none;
	background-color: transparent;
	color:#000; 
	border: 2px solid #000;
	padding: 15px 35px;
	font-family: 'RobotoBold';
	text-transform: uppercase;
	margin-top: 10px;
}
.modal-content button[type="submit"]:hover{
	background-color: #666666;
	color:#fff;
}
/*==2==*/
.header_modal_title{
	color: #fff;
}
.header_modal_info h4{
	margin-left: 20px;
	text-transform: uppercase;
	color: #666666;
	font-family: 'RobotoBold';
}
.modal-content p{
	font-family: 'RobotoLight';
	font-size: 18px;
}
textarea#get_help_text{
	margin-top: 10px;
}
/*=== Политика конфидециальности ===*/
.policy a{
	cursor: pointer;
}
h4#policy_title.modal-title{
	text-transform: uppercase;
	color: #fff;
	font-family: 'RobotoBold';
}





